body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section-one{
    display: flex;
}

span{
    color: orange;
}

h1{
    font-size: 50px;
    color: grey;
}

.text{
    padding: 150px 0px 0px 90px;
}

.text p{
    color: grey;
    margin-bottom: 75px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 30px;
    color: white;
    border-radius: 60px;

}

.first-photo{
    padding-top: 50px;
    padding-right: 50px;
}


     /* Second Section Start Here */

.section-two{
   margin-top: 120px;
    margin-bottom: 100px;
}

#background-picture{
    background-image: url(img/7.png);
}

.second-photo{
    width: 50%;
    margin-left: 5%;
}

.second-text{
    margin-right: 50px;
    width: 50%;
}

.second-text p{
    margin-right: 200px;
    margin-bottom: 50px;
}


    /* Third Section Start Here */

.third-section{
    text-align: center;
}

.third-section p{
    margin: 0 auto;
    width: 50%;
}

    /* Fourth Section Start Here */

.recipie-one{
    width: 30%;
    margin: 2%;
    box-shadow: 0px 0px 15px grey;
    padding: 20px;
}
 
.recipie-one img{
    width: 100%;
}


    /* Footer Area */

footer{
    text-align: center;
    background-color: #0A0D16;
    height: 250px;
}

footer h1{
        padding-top: 50px;
}

footer p{
    color: white;
}