body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section-one{
    display: flex;
}

span{
    color: orange;
}

h1{
    font-size: 50px;
    color: grey;
}

.text{
    padding: 150px 0px 0px 90px;
}

.text p{
    color: grey;
    margin-bottom: 75px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 25px;
    color: white;
    border-radius: 60px;

}

.first-photo{
    padding-top: 50px;
    padding-right: 50px;
}


     /* Second Section Start Here */

.section-two{
   margin-top: 120px;
    margin-bottom: 100px;
}

#background-picture{
    background-image: url(img/7.png);
}

.second-photo{
    width: 50%;
    margin-left: 5%;
}

.second-text{
    margin-right: 50px;
    width: 50%;
}

.second-text p{
    margin-right: 200px;
    margin-bottom: 50px;
}


    /* Third Section Start Here */

.third-section{
    text-align: center;
}

.third-section p{
    margin: 0 auto;
    width: 50%;
}

    /* Fourth Section Start Here */

.recipie-one{
    width: 30%;
    margin: 2%;
    box-shadow: 0px 0px 15px grey;
    padding: 20px;
}
 
.recipie-one img{
    width: 100%;
}


        /* Bonus Section Start Here */

.food-review{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
}     

.parent-div{
    display: flex;
    margin-top: 100px;
    margin-bottom: 200px;
    font-size: 15px;
}

.child-div{
    margin-left: 2%;
    padding: 0px;
    padding-left: 10px;
    box-shadow: 0px 0px 25px grey;
    border-left: 4px solid;
    border-image: linear-gradient(red,blue);
    border-image-slice: 1;
    margin: 0 auto;
    width: 30%;
}


    /* Fifth Section Start Here */

.social-media{
    width: 90%;
    box-shadow: 0px 0px 15px grey;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
   
}

.youtube{
    margin: 0 auto;
   color: orange;
}

.youtube h1{
  
    color: yellowgreen;
}



    /* Footer Area */

footer{
    text-align: center;
    background-color: #0A0D16;
    height: 250px;
}

footer h1{
        padding-top: 50px;
}

footer p{
    color: white;
}